* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(20,20,20);
}

main {
    text-align: center;
    margin-top: 15%;
}

.error-msg {
    color: white;
    font-size: 20px;
    width: 100%;
    font-family: 'Maven Pro', sans-serif;
    user-select: none;
    opacity: 0.8;
    font-weight: bold;
    margin-top: 8px;
}
